# Dependencies
node_modules/

# OS files
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output (if generated)
dist/
build/
coverage/

# Env files
.env
.env.*
!.env.example
